# üèÜ EDA para Dashboarding - Proyecto Consumo global de Energ√≠a

üîç **Objetivo:**  
"Este an√°lisis exploratorio busca entender la distribuci√≥n de los datos del dataset de energ√≠a global de la plataforma Our World in Data y obtener la informaci√≥n necesaria para aplicarlo en el desarrollo de un dashboard con Dash

üìä **Fuente de datos:** [`owid-energy-data.csv`]

## 1Ô∏è‚É£ üìÇ Carga de Datos y Configuraci√≥n Inicial

In [2]:
# Libraries
import pandas as pd
import numpy as np

# Read dataset
df = pd.read_csv('../data/owid-energy-data.csv')

# List first rows
df.head()

,country,year,iso_code,population,gdp,biofuel_cons_change_pct,biofuel_cons_change_twh,biofuel_cons_per_capita,biofuel_consumption,biofuel_elec_per_capita,...,solar_share_elec,solar_share_energy,wind_cons_change_pct,wind_cons_change_twh,wind_consumption,wind_elec_per_capita,wind_electricity,wind_energy_per_capita,wind_share_elec,wind_share_energy
0,ASEAN (Ember),2000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,NaN,NaN,NaN,NaN,NaN,0.0,NaN,0.0,NaN
1,ASEAN (Ember),2001,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,NaN,NaN,NaN,NaN,NaN,0.0,NaN,0.0,NaN
2,ASEAN (Ember),2002,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,NaN,NaN,NaN,NaN,NaN,0.0,NaN,0.0,NaN
3,ASEAN (Ember),2003,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,NaN,NaN,NaN,NaN,NaN,0.0,NaN,0.0,NaN
4,ASEAN (Ember),2004,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,NaN,NaN,NaN,NaN,NaN,0.0,NaN,0.0,NaN

In [3]:
# Rows & Columns
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21812 entries, 0 to 21811
Columns: 130 entries, country to wind_share_energy
dtypes: float64(127), int64(1), object(2)
memory usage: 21.6+ MB

## 2Ô∏è‚É£ üîç An√°lisis de la Estructura del Dataset

In [4]:
# data types
df.dtypes

country                    object
year                        int64
iso_code                   object
population                float64
gdp                       float64
                           ...
wind_elec_per_capita      float64
wind_electricity          float64
wind_energy_per_capita    float64
wind_share_elec           float64
wind_share_energy         float64
Length: 130, dtype: object

In [5]:
# data types count
df.dtypes.value_counts()

float64    127
object       2
int64        1
Name: count, dtype: int64

In [6]:
df = df[
['country',
'year',
'iso_code',
'population',
'gdp',
'biofuel_electricity',
'carbon_intensity_elec',
'coal_electricity',
'coal_production',
'coal_share_elec',
'electricity_demand',
'electricity_generation',
'energy_cons_change_pct',
'energy_cons_change_twh',
'energy_per_gdp',
'fossil_electricity',
'fossil_energy_per_capita',
'fossil_fuel_consumption',
'gas_electricity',
'gas_production',
'gas_share_elec',
'greenhouse_gas_emissions',
'hydro_electricity',
'low_carbon_electricity',
'net_elec_imports',
'net_elec_imports_share_demand',
'nuclear_electricity',
'nuclear_share_elec',
'oil_electricity',
'oil_production',
'oil_share_elec',
'other_renewable_electricity',
'other_renewable_exc_biofuel_electricity',
'per_capita_electricity',
'primary_energy_consumption',
'renewables_consumption',
'renewables_electricity',
'renewables_share_elec',
'solar_electricity',
'wind_electricity']
]

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21812 entries, 0 to 21811
Data columns (total 40 columns):
 #   Column                                   Non-Null Count  Dtype
---  ------                                   --------------  -----
 0   country                                  21812 non-null  object
 1   year                                     21812 non-null  int64
 2   iso_code                                 16812 non-null  object
 3   population                               18447 non-null  float64
 4   gdp                                      11775 non-null  float64
 5   biofuel_electricity                      5834 non-null   float64
 6   carbon_intensity_elec                    5835 non-null   float64
 7   coal_electricity                         6709 non-null   float64
 8   coal_production                          16548 non-null  float64
 9   coal_share_elec                          6686 non-null   float64
 10  electricity_demand                       5863 non-null   float64
 11  electricity_generation                   7411 non-null   float64
 12  energy_cons_change_pct                   11720 non-null  float64
 13  energy_cons_change_twh                   11913 non-null  float64
 14  energy_per_gdp                           7789 non-null   float64
 15  fossil_electricity                       6728 non-null   float64
 16  fossil_energy_per_capita                 4298 non-null   float64
 17  fossil_fuel_consumption                  5058 non-null   float64
 18  gas_electricity                          6613 non-null   float64
 19  gas_production                           16839 non-null  float64
 20  gas_share_elec                           6590 non-null   float64
 21  greenhouse_gas_emissions                 5863 non-null   float64
 22  hydro_electricity                        9037 non-null   float64
 23  low_carbon_electricity                   7997 non-null   float64
 24  net_elec_imports                         5575 non-null   float64
 25  net_elec_imports_share_demand            5547 non-null   float64
 26  nuclear_electricity                      9681 non-null   float64
 27  nuclear_share_elec                       7202 non-null   float64
 28  oil_electricity                          6648 non-null   float64
 29  oil_production                           17480 non-null  float64
 30  oil_share_elec                           6625 non-null   float64
 31  other_renewable_electricity              8425 non-null   float64
 32  other_renewable_exc_biofuel_electricity  5270 non-null   float64
 33  per_capita_electricity                   6640 non-null   float64
 34  primary_energy_consumption               12178 non-null  float64
 35  renewables_consumption                   5575 non-null   float64
 36  renewables_electricity                   8109 non-null   float64
 37  renewables_share_elec                    7152 non-null   float64
 38  solar_electricity                        8202 non-null   float64
 39  wind_electricity                         8234 non-null   float64
dtypes: float64(37), int64(1), object(2)
memory usage: 6.7+ MB

## 3Ô∏è‚É£ üìä Exploraci√≥n de Datos Num√©ricos y Categ√≥ricos

In [8]:
# df description
df.describe()

,year,population,gdp,biofuel_electricity,carbon_intensity_elec,coal_electricity,coal_production,coal_share_elec,electricity_demand,electricity_generation,...,oil_share_elec,other_renewable_electricity,other_renewable_exc_biofuel_electricity,per_capita_electricity,primary_energy_consumption,renewables_consumption,renewables_electricity,renewables_share_elec,solar_electricity,wind_electricity
count,21812.000000,1.844700e+04,1.177500e+04,5834.000000,5835.000000,6709.000000,16548.000000,6686.000000,5863.000000,7411.000000,...,6625.000000,8425.000000,5270.000000,6640.000000,12178.000000,5575.000000,8109.000000,7152.000000,8202.000000,8234.000000
mean,1974.195718,1.054051e+08,4.260596e+11,11.262839,480.690530,325.273938,984.531283,17.278316,612.426238,780.497711,...,29.463696,13.564510,2.026583,4035.874906,4361.508233,589.288174,171.916037,29.661346,8.197346,18.936078
std,35.342860,4.665375e+08,3.508591e+12,49.585627,240.856982,1138.943544,3541.538677,24.184234,2479.537207,2594.874681,...,36.444605,52.878824,7.461600,5060.466488,15196.647085,1665.876212,571.256380,30.555233,61.282171,110.680131
min,1900.000000,1.833000e+03,1.642060e+08,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,1946.000000,1.714291e+06,1.438637e+10,0.000000,302.920500,0.000000,0.000000,0.000000,1.465000,2.250000,...,2.117000,0.000000,0.000000,654.331500,8.028500,7.765000,0.210000,3.333000,0.000000,0.000000
50%,1984.000000,6.998022e+06,4.393385e+10,0.010000,525.184000,0.250000,1.351000,1.785000,11.680000,21.720000,...,8.981000,0.056000,0.000000,2544.710500,85.812000,46.549000,4.885000,18.332500,0.000000,0.000000
75%,2004.000000,2.571993e+07,1.830838e+11,0.720000,652.174000,35.540000,114.864750,32.464500,88.725000,151.605000,...,50.536000,1.992000,0.000000,5742.243250,776.378500,265.062500,40.201000,50.000000,0.030000,0.150000
max,2023.000000,8.045311e+09,1.301126e+14,678.740000,1306.723000,10467.930000,49789.156000,100.000000,29479.051000,29479.051000,...,100.000000,768.550000,89.810000,56030.785000,172119.062000,25064.225000,8913.900000,100.000000,1629.900000,2304.440000

In [9]:
df.select_dtypes(include='object').nunique()

country     294
iso_code    220
dtype: int64

In [10]:
# üìä Distribuci√≥n de valores en variables categ√≥ricas m√°s relevantes
categorical_columns = ["country", "year"]

for col in categorical_columns:
    print(f"Distribuci√≥n de valores para {col}:")
    print(df[col].value_counts().head(10))
    print("\n")

Distribuci√≥n de valores para country:
country
Zimbabwe                124
Zambia                  124
Africa                  124
United Kingdom          124
United States           124
United Arab Emirates    124
Turkey                  124
Portugal                124
Tunisia                 124
Trinidad and Tobago     124
Name: count, dtype: int64


Distribuci√≥n de valores para year:
year
2003    288
2004    288
2005    288
2012    288
2015    288
2014    288
2013    288
2016    288
2002    287
2001    287
Name: count, dtype: int64

## 4Ô∏è‚É£ üõ† Limpieza de Datos y Manejo de Valores Nulos

In [11]:
# get rows with iso_code != null and "world" rows
df = df[df['iso_code'].notnull() | (df['country'] == 'World')]

In [12]:
# 677440
df.groupby('country')['country'].value_counts()

country
Afghanistan       123
Albania           123
Algeria           124
American Samoa     43
Angola            124
                 ...
Western Sahara     42
World             124
Yemen              44
Zambia            124
Zimbabwe          124
Name: count, Length: 221, dtype: int64

In [13]:
df.to_csv('../data/owid-energy-data-filtered.csv')